<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../bower_components/google-map/google-map-marker.html">

<dom-module id="pilot-marker">
  <template>
    <google-map-marker
      id="marker"
      map="[[map]]"
      latitude="[[pilot.lat]]"
      longitude="[[pilot.lng]]"
      title="[[pilot.callsign]]"
      icon="[[_icon]]"
      click-events
      mouse-events
    ></google-map-marker>
  </template>
  <script>
    class PilotMarker extends Polymer.Element {
      static get is() { return 'pilot-marker'; }

      static get properties() {
        return {
          /**
           * Google Map element. This element is automatically injected via a parent element
           * child element with the same name and can be omitted from the elment properties.
           *
           * @type {GoogleMap}
           */
          map: Object,
          /**
           * Object representing a pilot.
           *
           * @type {Object}
           */
          pilot: Object,
          /**
           * The marker plane color.
           *
           * Available colors check available images/aircraft-*-icons.png files.
           *
           * @type {String}
           */
          color: {
            type: String,
            observer: '_colorChanged',
            value: 'yellow'
          },
          _icon: {
            type: Object,
            computed: '_computeMarkerIcon(pilot, _color)'
          },
          _color: String
        };
      }

      ready() {
        super.ready();

        this.$.marker.addEventListener('google-map-marker-click', this._markerClicked.bind(this));
        this.$.marker.addEventListener('google-map-marker-mouseover', this._markerOver.bind(this));
        this.$.marker.addEventListener('google-map-marker-mouseout', this._markerOut.bind(this));
      }

      _computeMarkerIcon(pilot, color) {
        if (typeof pilot === 'undefined' || typeof color === 'undefined') {
          return;
        }

        let heading = pilot.heading % 360;  // normalize heading to range(0-359)
        let x = heading / 15;               // sprite contains steps of 15 degrees
        x = x + 12;                         // sprite starts at 180 ends at 170 (180-0-170)
        x = x % 24;                         // there 24 sprites (360/15), normalize to range(0-23)
        x = parseInt(x);
        return {
          url: `images/aircraft-${color}-icons.png`,
          size: {
            height: 23,
            width: 23
          },
          origin: {
            x: x * 48,
            y: 3 * 48
          },
          anchor: {
            x: 11.5,
            y: 11.5
          }
        };
      }

      _markerClicked(e) {
        this.dispatchEvent(new CustomEvent('pilot-clicked', {
          bubbles: true,
          composed: true,
          detail: {pilot: this.pilot}}));
      }

      _colorChanged(color) {
        this._color = color;
      }

      _markerOver() {
        this._color = 'red';
      }

      _markerOut() {
        this._color = this.color;
      }
    }

    window.customElements.define(PilotMarker.is, PilotMarker);
  </script>
</dom-module>