<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../vatmap-styles.html">
<link rel="import" href="../vatmap-icons.html">

<link rel="import" href="../data/vatsim-clients-data.html">

<link rel="import" href="../views/traffic-map.html">
<link rel="import" href="../views/pilot-details.html">

<dom-module id="map-activity">
  <template>
    <style include="vatmap-styles">
      traffic-map {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
      }
      .content {
        background-color: #fff;
        max-width: 480px;
        margin: calc(100vh - 192px) auto 0px auto;
      }
      @media (max-width: 480px) {
        .content {
          margin: calc(100vh - 192px) 0 0 0;
        }
        .card {
          height: calc(100vh - 64px);
        }
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:view/:slug"
      data="{{routeData}}">
    </app-route>

    <vatsim-clients-data
      pilot-list="{{pilotList}}"
      pilot-details="{{pilotDetails}}">
    </vatsim-clients-data>

    <app-header-layout>
      <app-header slot="header" reveals condenses effects="waterfall">
        <app-toolbar>
          <div main-title>Vatmap</div>
        </app-toolbar>
      </app-header>

      <traffic-map id="map" pilots="[[pilotList]]" pilot="[[selectedPilot]]"></traffic-map>
      <pilot-details id="details" pilot="[[selectedPilotDetails]]" class="content card"></pilot-details>

    </app-header-layout>
  </template>
  <script>
    class MapActivity extends Polymer.Element {
      static get is() { return 'map-activity'; }

      static get properties() {
        return {
          route: Object,
          routeData: Object,
          selectedPilot: Object,
          selectedPilotDetails: Object,
          pilotDetails: Object
        };
      }

      static get observers() {
        return [
          '_routeViewChanged(routeData.view, routeData.slug)'
        ];
      }

      ready() {
        super.ready();

        this.$.map.addEventListener('pilot-clicked', this._pilotClicked.bind(this));
      }

      _routeViewChanged(view, slug) {
        for (var pilot of this.pilotList) {
          if (pilot.callsign === slug) { break; }
          pilot = null;
        }
        if (pilot != null) {
          this.selectedPilot = pilot;
          this.selectedPilotDetails = this.pilotDetails[pilot.callsign];
        } else {
          this.selectedPilot = undefined;
        }
      }

      _pilotClicked(e) {
        this.set('route.path', `/pilot/${e.detail.pilot.callsign}`);
      }
    }

    window.customElements.define(MapActivity.is, MapActivity);
  </script>
</dom-module>