<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../vatmap-styles.html">
<link rel="import" href="../vatmap-icons.html">

<dom-module id="pilot-details">
  <template>
    <style include="vatmap-styles">
      :host {
        display: block;
      }

      paper-item-body > * {
        white-space: normal;
      }
      paper-item-body[center] {
        text-align: center;
      }
      paper-item-body[center] > * {
        margin: 0 auto;
      }
      iron-icon {
        color: var(--app-secondary-color);
      }
    </style>

    <app-header fixed>
      <app-toolbar>
        <div main-title>[[pilot.callsign]]</div>
      </app-toolbar>
    </app-header>

    <paper-item>
      <paper-item-body two-line center>
        <div>[[pilot.departure]]</div>
        <div secondary>DEPARTURE</div>
      </paper-item-body>
      <paper-item-body two-line center>
        <iron-icon icon="vatmap-icons:airborne"></iron-icon>
      </paper-item-body>
      <paper-item-body two-line center>
        <div>[[pilot.arrival]]</div>
        <div secondary>ARRIVAL</div>
      </paper-item-body>
    </paper-item>

    <paper-icon-item>
      <iron-icon icon="vatmap-icons:aircraft" slot="item-icon"></iron-icon>
      <paper-item-body two-line>
        <div>[[pilot.aircrafttype]]</div>
        <div secondary>AIRCRAFT TYPE</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item>
      <paper-item-body two-line>
        <div>[[pilot.name]]</div>
        <div secondary>PILOT</div>
      </paper-item-body>
      <paper-item-body two-line>
        <div>1h50m</div>
        <div secondary>ONLINE</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item>
      <iron-icon icon="vatmap-icons:aircraft-altitude" slot="item-icon"></iron-icon>
      <paper-item-body two-line>
        <div>[[pilot.altitude]] ft</div>
        <div secondary>ALTITUDE</div>
      </paper-item-body>
      <paper-item-body two-line>
        <div>[[pilot.heading]]º</div>
        <div secondary>HEADING</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item>
      <iron-icon icon="vatmap-icons:speedometer" slot="item-icon"></iron-icon>
      <paper-item-body two-line>
        <div>[[pilot.groundspeed]] kts</div>
        <div secondary>GROUNDSPEED</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item>
      <iron-icon icon="vatmap-icons:route" slot="item-icon"></iron-icon>
      <paper-item-body two-line>
        <div>[[pilot.route]]</div>
        <div secondary>ROUTE</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item>
      <paper-item-body two-line>
        <div>[[pilot.remarks]]</div>
        <div secondary>REMARKS</div>
      </paper-item-body>
    </paper-icon-item>
  </template>
  <script>
    class PilotDetails extends Polymer.Element {
      static get is() { return 'pilot-details'; }

      static get properties() {
        return {
          pilot: Object
        };
      }
    }

    window.customElements.define(PilotDetails.is, PilotDetails);
  </script>
</dom-module>