<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/google-map/google-map.html">

<link rel="import" href="traffic-map/pilot-marker.html">

<dom-module id="traffic-map">
  <template>
    <google-map
      additional-map-options='{"mapTypeId":"satellite"}'
      disable-default-ui
      fit-to-marker
      api-key="AIzaSyDj4y39JAORYGw4rNcA1y8oVj0m8lNDje4"
      latitude="40.0955474"
      longitude="-3.070306"
      zoom="4"
      drag-events="true"
      id="map">

      <template is="dom-repeat" items="[[pilots]]" as="pilot">
        <pilot-marker id="[[pilot.callsign]]" pilot="[[pilot]]" color="yellow"></pilot-marker>
      </template>

    </google-map>
  </template>
  <script>
    class TrafficMap extends Polymer.Element {
      static get is() { return 'traffic-map'; }

      static get properties() {
        return {
          pilot: {
            type: Object,
            observer: '_pilotChanged'
          },
          pilots: Array
        };
      }

      _pilotChanged(newPilot, oldPilot) {
        Polymer.RenderStatus.afterNextRender(this, () => {
          let newElement = this.shadowRoot.querySelector(`#${newPilot.callsign}`)
          newElement.color = 'red';

          if (typeof oldPilot !== 'undefined') {
            let oldElement = this.shadowRoot.querySelector(`#${oldPilot.callsign}`)
            oldElement.color = 'yellow';
          }
        });
      }
    }

    window.customElements.define(TrafficMap.is, TrafficMap);
  </script>
</dom-module>