<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="activities/map-activity.html">

<dom-module id="vatmap-app">
  <template>
    <style>
      :host {
        --app-primary-color: #0b6e4f;
        --app-primary-text-color: #fff;
        --app-secondary-color: #fa9f42;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      google-map {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
      }
      .content {
        background-color: #fff;
        max-width: 480px;
        margin: calc(100vh - 192px) auto 0px auto;
      }
      @media (max-width: 480px) {
        .content {
          margin: calc(100vh - 192px) 0 0 0;
        }
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]"
        use-hash-as-path>
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="404" role="main">
      <map-activity name="map" route="[[subroute]]"></map-activity>
      <h1 name="404">Not found.</h1>
    </iron-pages>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class VatmapApp extends Polymer.Element {
      static get is() { return 'vatmap-app'; }

      static get properties() {
        return {
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          page: String
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || '';
      }
    }

    window.customElements.define(VatmapApp.is, VatmapApp);
  </script>
</dom-module>
