<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="vatsim-clients-data">
  <template>
  </template>
  <script>
    class VatsimClientsData extends Polymer.Element {
      static get is() { return 'vatsim-clients-data'; }

      static get properties() {
        return {
          pilotList: {
            type: Array,
            reflectToAttribute: true,
            notify: true,
            value: [{
                lat: 40.0955474,
                lng: -3.070306,
                heading: 33.0,
                callsign: 'TSZ213',
              }, {
                lat: 38.9370975,
                lng: -8.5710731,
                heading: 278.0,
                callsign: 'TSZ101',
            }]
          },
          pilotDetails: {
            type: Object,
            reflectToAttribute: true,
            notify: true,
            value: {
              TSZ213: {
                heading: 33.0,
                callsign: 'TSZ213',
                remarks: '/v/',
                route: 'CRR UM540 ARVUS UM424 NELOX UZ23 SUGMU',
                groundspeed: 510,
                altitude: 34228,
                name: 'Pedro Rodrigues LPPT',
                aircrafttype: 'A320',
                departure: 'LPPT',
                arrival: 'ENGM'},
              TSZ101: {
                heading: 278.0,
                callsign: 'TSZ101',
                remarks: '/v/',
                route: 'CRR UM540 ARVUS UM424 NELOX UZ23 SUGMU',
                groundspeed: 510,
                altitude: 34228,
                name: 'Tiago Vicente LPPT',
                aircrafttype: 'B738',
                departure: 'LEMD',
                arrival: 'LPPT'
              }
            }
          }
        };
      }
    }
    window.customElements.define(VatsimClientsData.is, VatsimClientsData);
  </script>
</dom-module>